[mongoDB]
host= {{ host }}
port= {{ port }}
username= {{ username }}
password= {{ password }}
dbname= {{ dbname }}
authdb= {{ authdb }}
tls= {{ tls }}
tlscertificatekeyfile= {{ tlscertificatekeyfile }}
tlscertificatekeyfilepassword= {{ tlscertificatekeyfilepassword }}
tlsallowinvalidcertificates= {{ tlsallowinvalidcertificates }}
